.col-100 {
    border: 0.5px solid rgb(89, 89, 89);
    position: absolute;
    top: 20px;
    left: 20px;
    width: 1440px;
    height: 100px;
    text-align: center;
}
.col-a {
    border: 0.5px solid rgb(89, 89, 89);
    position: absolute;
    top: 121px;
    left: 20px;
    width: 1239px;
    height: 100px;
    text-align: center;
}
.col-b {
    border: 0.5px solid rgb(89, 89, 89);
    position: absolute;
    top: 121px;
    left: 1260px;
    width: 200px;
    height: 100px;
    text-align: center;
}
.col-50 {
    border: 0.5px solid rgb(89, 89, 89);
    position: absolute;
    top: 222px;
    left: 20px;
    width: 720px;
    height: 100px;
    text-align: center;
}